div(class='footer')
  h3(class='copyright') © Copyright Jagodev 2019
  ul
    a(href='https://github.com/jagodev-lab/Markopolo', target='_blank')
      li Source code
    a(href='https://github.com/jagodev-lab', target='_blank')
      li Jagodev
