div(class='header')
  h1 MARKOPOLO EXPLORER
  |
  ul(class='menu')
    a(href='/')
      li Summary
    a(href='/transactions')
      li Transactions
    a(href='/api')
      li API
    a(href='https://github.com/jagodev-lab/Markopolo', target='_blank')
      li Source
